<!DOCTYPE html>
<html ng-app="myToDo">

<head>

  <link rel="stylesheet" href="styles/style.css" />
  <script src="/node_modules/angular/angular.min.js"></script>
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="scripts/script.js"></script>
  <script src="scripts/http-services.js"></script>
  <script src="scripts/list-controller.js"></script>
  <script src="scripts/create-controller.js"></script>
</head>

<body>
  <h1>Thing I have to do!</h1>
  
  <!--<div>{{newThing}}</div>-->

<button ui-sref="list">My List</button>
<button ui-sref="create">Add new thing</button>

  {{ 2 / 42 | number }}
  <div ui-view></div>


<!--<div ng-include="templates/buttons.html"></div>-->
</body>



</html> 