<form name="myForm" ng-submit='create.addNew(create.newThing)'>
    <input type='text' placeholder="What needs to be done?" ng-model="create.newThing"/>
    <input type="submit" value="Add"/>
</form>
