<ul>
    <li ng-repeat='todo in list.todos|filter:{done: list.filter} | orderBy:list.sort' ng-class="{'completed':todo.done === 'true', 'active':todo.done === 'false'}">
        <input type="checkbox" ng-model='todo.done' ng-true-value="'true'" ng-false-value="'false'" ng-click='list.updateItem(todo)'></input>
        <span> {{todo.item}}</span>
        <button ng-click="list.removeItem(todo, $index)">Remove</button>
    </li>

</ul>

<button ng-click="list.sort = 'item'">Sort</button>
<button ng-click="list.filter = undefined">All</button>
<button ng-click="list.filter = 'false'">Active</button>
<button ng-click="list.filter = 'true'">Completed</button>
<button ng-click="list.clearCompleted()">Clear Completed</button>