/* Styles go here */

/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}*/

html {
    
}
ul {
    list-style: none;
}
.removed {
    display: none;
}